.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: gray !important;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 14px;
}

.site-layout .site-layout-background {
  background: #001529;
}

.styled-icon {
  cursor: pointer;
}

.styled-icon:hover {
  color: green;
}
